* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #3d64e6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

main {
    background-color: white;
    border-radius: 10px;
    padding: 3rem;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.input-sides {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

input {
    border: none;
    border-bottom: 2px solid #3d64e6;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}
.spinner{
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3d64e6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-right: 2rem auto;
}
@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
input:focus {
    border-color: #ff6347; 
    outline: none;
}

button {
    padding: 0.8rem 1.3rem;
    border: none;
    font-size: 1rem;
    background-color: #3d64e6;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
    transform: scale(1.1);
    background-color: #ff6347;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.image-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: slideUp 1s ease-in-out;
}

img {
    width: 150px;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.2s ease-in-out;
}

.image-side p {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 1rem;
    color: #3d64e6;
}

.about-country {
    /* text-align: left; */
    animation: fadeIn 1.5s ease-in-out;
}

.about-country h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.about-country h2:hover {
    color: #ff6347;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
}
}
